
<nav class="navbar navbar-light" id="header">
  <div class="col mx-auto">
    <h1 class="h6 text-center">The Best of:</h1>
    <img id="small-office_logo" class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='images/128pxoffice_logo.png') }}" alt="The Office Logo">
  </div>
</nav>


{% extends "base.html" %}

{% block content %}

<div id="line" class="col-4 mx-auto p-2"></div>

<h1 class="display-4 text-center pb-3">{{ epi['episode'] }}</h1>

<div class="row">
  <div id="yt-player" class="col-8 mx-auto">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed{{ epi['yt-link'] }}" allowfullscreen></iframe>
    </div>
  </div>
</div>


<div class="col-8 mx-auto pt-3">
  <table class="table">

    <thead class="thead">
      <tr class="table-light">
        <th scope="col">Season</th>
        <th scope="col">Episode(s)</th>
        <th scope="col">Written By</th>
        <th scope="col">Directed By</th>
        <th scope="col">Aired On</th>
      </tr>
    </thead>

    <tbody>
      <tr class="table-light">
        <th scope="row">{{ epi['season'] }}</th>
        <th scope="row">{{ epi['ep#'] }}</th>
        <th scope="row">{{ epi['written-by'] }}</th>
        <th scope="row">{{ epi['directed-by'] }}</th>
        <th scope="row">{{ epi['date-aired'] }}</th>
      </tr>
    </tbody>

  </table>
</div>



<div class="row">
  <div class="col-8 mx-auto">

    <p>{{ epi['synopsis'] }}</p>

    <p>Synopsis and data from <a href="{{ epi['wiki-link'] }}">Wikipedia</a>.</p>

  </div>
</div>

<div class="pb-3 text-center">
  <a class="btn btn-dark" href=".." role="button">Return to List</a>
</div>

{% endblock %}
